body {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-25_bc15ec98.jpeg?download=true");
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.text-font-base {
    font-family: 'Montserrat', sans-serif !important;	
}
.testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .cardhorizontal {
  display: inline-block;
}

